* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

/* Utilities */
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* Header */
header {
  width: 200px;
  height: calc(100vh - 100px);
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-menu {
  width: 100%;
}

.logo,
.navigation,
.playlists {
  padding: 1rem;
  width: 100%;
}

header .logo {
  width: 80%;
}

header .navigation li {
  color: #707070;
}
header .navigation li:hover {
  color: white;
  border-left: 3px solid yellowgreen;
}

header .navigation li img {
  width: 20px;
  margin-right: 0.5rem;
}

/* Playlists */
header .playlists {
  font-size: 0.8rem;
  color: grey;
}
header .playlists h5 {
  font-size: 1.1rem;
  color: white;
}

header .playlists li {
  line-height: 2rem;
}

header .playlists li:first-child {
  font-size: 1rem;
}

header .playlists i {
  font-size: 1.7rem;
  color: white;
  margin-right: 0.3rem;
}

.bottom-menu {
  padding: 1rem;
}

.bottom-menu .download {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid white;
  font-size: 0.7rem;
}

.bottom-menu i {
  margin-right: 0.5rem;
}

.bottom-menu .user p {
  font-weight: bold;
  padding-top: 0.5rem;
}

/* Main Content */
main {
  width: calc(100% - 200px);
  height: calc(100vh - 100px);
  background-color: #141922;
  overflow-y: scroll;
}

.button,
.categories {
  height: 50px;
  background-color: aqua;
  padding: 0.5rem;
}

section.albums {
  padding: 1rem;
}

section.albums h2 {
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.album {
  width: calc((100% / 2) - 1rem);
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.box-art img {
  width: 100%;
}

/* Footer */
footer {
  width: 100%;
  height: 100px;
  background-color: blueviolet;
}

.player-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.now-playing,
.controls,
.volume {
  width: 250px;
  background-color: cornflowerblue;
}

@media screen and (max-width: 575px) {
  main {
    width: calc(100% - 50px);
  }

  header {
    width: 50px;
  }

  header .logo {
  }

  header .playlists {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .album {
    width: calc((100% / 4) - 2rem);
  }
}

@media screen and (min-width: 992px) {
  .album {
    width: calc((100% / 6) - 2rem);
  }
}
