* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* Header */
header {
  width: 200px;
  height: calc(100vh - 100px);
  background-color: #a786df;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-menu {
  width: 100%;
  background-color: #2a9d8f;
}

.logo,
.navigation,
.playlists {
  height: 100px;
  width: 100%;
  background-color: #f4a261;
  border-bottom: 1px solid black;
}

.bottom-menu {
  background-color: #f4a261;
}

/* Main Content */
main {
  width: calc(100% - 200px);
  height: calc(100vh - 100px);
  background-color: yellowgreen;
  overflow-y: scroll;
}

.button,
.categories {
  width: 100%;
  height: 50px;
  background-color: aqua;
  padding: 0.5rem;
}

.row {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.album {
  background-color: gold;
  border: 3px solid red;
  margin-bottom: 1rem;
  object-fit: cover;
  overflow: hidden;
  margin-right: 0.5rem;
}

.box-art {
  width: 128px;
  height: 128px;
}

.box-art img {
  width: 100%;
  height: 100%;
}

/* Footer */
footer {
  width: 100%;
  height: 100px;
  background-color: blueviolet;
}

.player-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.now-playing,
.controls,
.volume {
  width: 250px;
  height: auto;
  background-color: cornflowerblue;
}

@media screen and (max-width: 575px) {
  main {
    width: calc(100% - 50px);
  }

  header {
    width: 50px;
  }

  .album {
    width: 180px;
  }

  .box-art {
    width: 180px;
    height: 180px;
  }
}
